
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>About</title>
  </head>
  <body style="background: url(https://i.pinimg.com/originals/c8/21/e6/c821e6f6a409765d5b593ec84eb06cc8.jpg); background-size:100% 100%;
background-attachment:fixed">
    <a class="btn btn-dark" href="/" role="button">HOME</a>
    <div class="card bg-warning text-black mx-auto" >
    <div class="card-body"><h2>ABOUT THIS FITNESS WEB APP<h2></div>
  </div>
<h3>&nbsp;&nbsp;About Title and Description.</h3>

<ul>
  <li>This app contain two section one is title and other is descriptions for giving data.</li>
  <li>Title> in title we give the main head point through this we fetch the things between all records.</li>
  <li>Description> In this field we write in detail for what we have to do or what we have done till know  </li>
  <br>
  <h5>Example: we can keep our month to month fitness data in this that what we have to eat for bulking or fat loss or<br>
   what exercise we have to do for our perticular target and we keep the data in a perticular Title.</h5>
  
</ul>    
<h3>&nbsp;&nbsp; About Time</h3>
<ul>
  <li>In saved data there is a column name as time which indicate us the exact time and date of saving the data.  </li>
  <li> One thing we have to notice here that when we update the data then time in not update it remain same as before updation. </li>
  <br>
  <h5>Example: When we save our data by taping submit then the exact time of clicking the submit here show us.  </h5>

</ul>
<h3>&nbsp;&nbsp; About Delete and Update</h3>
<ul>
  <li>We see that on every SNo data there is delete and update button delete is for deletion of a perticular SNo data </br>
  and update is for updating any description or any title if we want. </li>
  <h5>Example: when we tape on delete button then it delete the data by SNo ,but after deletion the SNo will be update by<br>
  there next SNo data and Update when we click on it then we found a new form of updation with the title and description</br>
  that we chose for update and then we upadate it by clicking on update button and then it will update it on home data. </h5>

</ul>

<h2>&nbsp;&nbsp; Click The Below button For Complete 4-Week Beginner's Workout Program</h2>
<a class="btn btn-success" href="https://www.muscleandfitness.com/workout-plan/workouts/workout-routines/complete-mf-beginners-training-guide-plan/" role="button">Click Here</a>

<h2>&nbsp;&nbsp; For any query , issue or any Idea contact the Creator through insta tap the below button  </h2>
<a class="btn btn-outline-info" href="https://www.instagram.com/eventfuldevil99/" role="button">Insta ID</a>




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>